/* Creates a border-box for the web page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* All body, anchor, and paragraph elements on the web page are styled as follows */
/* Entire body of the web page styled with a background color of light grey */
body {
    background-color: #d9dcd6;
}

/* Anchors are styled with a text color of white */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph text is styled with a font size of 16 pixels */
p {
    font-size: 16px;
}

/* The header, h1, .seo, nav, and li elements on the web page are styled as follows */
/* Header styled with a background color of a shade of teal with the text and links displayed consisting of the color white */
#header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Denotes the name of the company to be a set font size of 48 pixels and displays the name without a line-break after the text to allow it to be positioned next to the navigation list items */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* "seo" class defines the characters "s,e, and o" to be styled with a text color of light grey */
.seo {
    color: #d9dcd6;
}

/* The navigation with unordered list items displays in the upper right corner of the web page without a marker */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* Unordered list items are displayed without a line-break after each item and are therefore positioned next to each other */
li {
    display: inline-block;
    margin-left: 25px;
}

/* There is one banner image for the web page displayed as follows */
/* Sets the main banner image near the top of the web page */
.hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* The .content, .content-block, h2, .float-left, and .float-right elements on the web page are styled as follows */
/* Each content section displays on 75% of the screen without a line-break after each block and a margin of 20 pixels that adjusts each block to the right */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Each section of content is bound in a box with the specifications below for margin, padding, and height. Each box has a background color of blue with all text color displaying white */
.content-block {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* The title of each section of content is displayed with a font size of 36 pixels */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Two of the three sections of content contain images that are positioned to the left using the float property of left */
.float-left {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

/* One of the three sections of content contains an image that is positioned to the right using the float property of "right" */
.float-right {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

/* The .benefits, .benefits-block, h3, and .benefits-block img elements on the web page are styled as follows */
/* The content of this block displays on 20% of the screen, with a margin of 20 pixels that adjusts the block to the left, and has a background color of light blue */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Each of the three sections of content within the block has a bottom margin of 32 pixels with all text color displaying white */
.benefits-block {
    margin-bottom: 32px;
    color: #ffffff;
}

/* The title of each section of content is displayed with a bottom margin of 10 pixels and center aligned text */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Each of the three symbols within the block is displayed with a line break after each symbol and a maximum width of 150 pixels */ 
.benefits-block img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The .footer and h4 elements on the web page are styled as follows */
/* Text of the footer is center aligned */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Text of the footer title is set to a font size of 20 pixels */
h4 {
    font-size: 20px;
}
